* {
  font-family: "Poppins", sans-serif;
}
html {
  scroll-behavior: smooth;
}
body {
  padding-top: 70px;
}
.feather-48 {
  width: 48px;
  height: 48px;
}
.feather-35 {
  width: 35px;
  height: 35px;
  color: white;
  margin: 0 auto;
}
.contact .circle-pertama,
.contact .circle-kelima {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.contact .circle-kedua {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.contact .circle-ketiga {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.contact .circle-keempat {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.contact .circle-pertama:hover,
.contact .circle-kedua:hover,
.contact .circle-ketiga:hover,
.contact .circle-keempat:hover,
.contact .circle-kelima:hover {
  background-color: red;
}
.circle a {
  color: white;
}
/* Navbar */
nav {
  box-shadow: 0 6px 4px 0 rgba(0, 0, 0, 0.2);
}
nav .nav-link {
  color: white;
}
nav .nav-link:hover {
  color: #f8e559;
}
/* header */
.header > .jumbotron > h2 {
  font-size: 84px;
}
.header > .jumbotron > p {
  font-size: 36px;
}
.header > .jumbotron > p > strong {
  font-weight: bold;
}
.header > .jumbotron > p > strong > a {
  color: #030637;
}
.header > .jumbotron > p > strong > a:hover {
  color: #f08200;
}

.header > .jumbotron > a,
.category .menu-info,
.card a {
  background-color: #ff7f00;
  color: white;
}
.header > .jumbotron > a:hover,
.category .menu-info:hover,
.card a:hover {
  background-color: #030637;
  color: #f8e559;
}

.menus p {
  font-size: 24px;
}
.faq {
  padding-top: 150px;
}
.faq p {
  font-size: 24px;
  margin-top: 48px;
}

/* Contact */
.contact {
  padding-top: 50px;
}
.contact > .row > .col-md > h1 {
  font-size: 50px;
  font-weight: 400;
}
.contact > .row > .col-md > span > a:hover {
  background-color: #864af9;
  width: 48px;
  height: 48px;
  font-size: 14px;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  color: #ffffff;
}
/* Footer */
footer {
  .col-sm-4 h3 {
    font-weight: 600;
    font-size: 20px;
  }
  .col-sm-4 > ul > li > a {
    color: white;
    text-decoration: none;
  }
  .col-sm-4 > ul > li > a:hover {
    color: #f8e559;
    text-decoration: none;
  }
  .col-sm-4 > ul > li {
    list-style: none;
    font-size: 14px;
    padding: 5px;
  }
  .col-sm-4 > .listinfo > li > a::before {
    content: ">";
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    color: #f08200;
    margin-right: 10px;
  }
  .col-sm-4 > ul > li > i {
    font-size: 15px !important;
    color: #f08200 !important;
    margin-right: 10px !important;
  }
  .social.circle li a {
    display: block;
    width: 30px;
    height: 30px;
    font-size: 14px;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    color: #ffffff;
    background-color: #1d67af;
    padding-top: 2px;
    padding-left: 1px;
  }
  .social > li {
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px;
  }
  .social > li > a {
    margin-right: 10px;
  }
  .social a {
    float: left;
  }
}
/* Credit */
.credit p a {
  list-style: none;
  text-decoration: none;
  color: #000;
}
.credit p a:hover {
  color: blue;
}

.foto .card .card-body .card-text .text-body-secondary a:hover {
  color: black;
}
.footer-icon {
  font-size: 30px;
}
.footer-icon:hover {
  color: red;
  font-size: 30px;
}
/* Media queries */
/* Laptop */
@media (max-width: 1366px) {
}
/* Tablet */
@media (max-width: 767px) {
  .header > .jumbotron > .display-4 {
    font-size: 42px;
    margin-left: 16px;
  }
  .header > .jumbotron > .lead {
    font-size: 24px;
  }
  h1,
  p {
    margin-left: 16px;
  }
  .contact img {
    width: 200px;
    height: 200px;
  }
}
/* Smartphone */
@media (max-width: 450px) {
  .hero-content {
    margin-top: 70px;
  }
}
