* {
  font-family: "Poppins", sans-serif;
}
:root {
  --color-orange: #ff7f00;
  --nav-text-color-hover-for-orange: #f8e559;
  --nav-bg-color-for-dark: #555;
}
html {
  scroll-behavior: smooth;
}
body {
  padding-top: 78px;
}
/* ----------Navbar---------- */
/* Navbar orange */
html[data-color-mode="orange"] nav {
  box-shadow: 0 6px 4px 0 rgba(0, 0, 0, 0.2);
  background-color: var(--color-orange);
}
html[data-color-mode="orange"] nav .nav-link {
  color: white;
}
html[data-color-mode="orange"] nav .nav-link:hover {
  color: var(--nav-text-color-hover-for-orange);
}

/* Navbar dark */
html[data-color-mode="dark"] nav {
  box-shadow: 0 6px 4px 0 rgba(0, 0, 0, 0.2);
  background-color: var(--nav-bg-color-for-dark);
}
html[data-color-mode="dark"] nav .nav-link {
  color: white;
}
html[data-color-mode="dark"] nav .nav-link:hover {
  color: #ffd700;
}

/* Navbar blue */
html[data-color-mode="blue"] nav {
  box-shadow: 0 6px 4px 0 rgba(0, 0, 0, 0.2);
  background-color: var(--nav-bg-color-for-blue);
}
html[data-color-mode="blue"] nav .nav-link {
  color: white;
}
html[data-color-mode="blue"] nav .nav-link:hover {
  color: #f8e559;
}

/* Navbar black */
html[data-color-mode="black"] nav {
  box-shadow: 0 6px 4px 0 rgba(0, 0, 0, 0.2);
  background-color: #000000;
}
html[data-color-mode="black"] nav .nav-link {
  color: white;
}
html[data-color-mode="black"] nav .nav-link:hover {
  color: #f8e559;
}

/* ----------Header---------- */
.header {
  padding-bottom: 100px;
}
.header > .jumbotron > h1 {
  font-size: 100px;
}
.header > .jumbotron > h2 {
  font-size: 84px;
}
.header > .jumbotron > p {
  font-size: 36px;
}
.header > .jumbotron > p > strong {
  font-weight: bold;
}
.header > .jumbotron > p > strong > a {
  color: #030637;
}
.header > .jumbotron > p > strong > a:hover {
  color: #f08200;
}

/* Header orange */
html[data-color-mode="orange"] .header > .jumbotron > a,
html[data-color-mode="orange"] .category .produk-kategori,
html[data-color-mode="orange"] .card a {
  background-color: #ff7f00;
  color: white;
}
html[data-color-mode="orange"] .header > .jumbotron > a:hover,
html[data-color-mode="orange"] .category .produk-kategori:hover,
html[data-color-mode="orange"] .card a:hover {
  background-color: #030637;
  color: #f8e559;
}

/* Header dark */
html[data-color-mode="dark"] .header > .jumbotron > a,
html[data-color-mode="dark"] .category .film-kategori,
html[data-color-mode="dark"] .card a {
  background-color: #555;
  color: white;
}
html[data-color-mode="dark"] .header > .jumbotron > a:hover,
html[data-color-mode="dark"] .category .film-kategori:hover,
html[data-color-mode="dark"] .card a:hover {
  background-color: #030637;
  color: #f8e559;
}

/* -----------Aboutme---------- */
.aboutme {
  padding-top: 150px;
}
.aboutme p {
  font-size: 24px;
}
.aboutme .fotoku,
.aboutme h1 {
  padding-top: 100px;
}

/* ----------Portfolio---------- */
.portfolio {
  padding-top: 150px;
}
.portfolio p {
  font-size: 24px;
  margin-top: 48px;
}

/* ----------Contact---------- */
.contact {
  padding-top: 50px;
}
.contact > .row > .col-md > h1 {
  font-size: 50px;
  font-weight: 400;
}
.contact > .row > .col-md > span > a:hover {
  background-color: #864af9;
  width: 48px;
  height: 48px;
  font-size: 14px;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  color: #ffffff;
}

/* ----------Footer---------- */
footer {
  .col-sm-4 h3 {
    font-weight: 600;
    font-size: 20px;
  }
  .col-sm-4 > ul > li > a {
    color: white;
    text-decoration: none;
  }
  .col-sm-4 > ul > li > a:hover {
    color: #f8e559;
    text-decoration: none;
  }
  .col-sm-4 > ul > li {
    list-style: none;
    font-size: 14px;
    padding: 5px;
  }
  .col-sm-4 > .listinfo > li > a::before {
    content: ">";
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    color: #f08200;
    margin-right: 10px;
  }
  .col-sm-4 > ul > li > i {
    font-size: 15px !important;
    color: #f08200 !important;
    margin-right: 10px !important;
  }
  .social.circle li a {
    display: block;
    width: 30px;
    height: 30px;
    font-size: 14px;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    color: #ffffff;
    background-color: #1d67af;
    padding-top: 2px;
    padding-left: 1px;
  }
  .social > li {
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px;
  }
  .social > li > a {
    margin-right: 10px;
  }
  .social a {
    float: left;
  }
}

/* ----------Media Queries---------- */
/* Laptop */
@media (max-width: 1366px) {
}
/* Tablet */
@media (max-width: 767px) {
  body {
    padding-top: 10px;
  }

  /* ----------Carousel---------- */
  .carousel {
    display: none;
  }

  /* ----------Header---------- */
  .header > .jumbotron > .display-4 {
    font-size: 42px;
    margin-left: 16px;
  }
  .header > .jumbotron > .lead {
    font-size: 24px;
  }

  /* ----------Contact---------- */
  .contact img {
    width: 200px;
    height: 200px;
  }
  h1,
  p,
  .btnletsgo {
    margin-left: 16px;
  }
  .aboutme {
    padding-top: 50px;
  }
}
/* Smartphone */
@media (max-width: 450px) {
  .hero-content {
    margin-top: 70px;
  }
}
