@charset "utf-8";

/* CSS Document */
/*--------------------------parallax--------------------------*/
body,
html {
    height: 100%;
}

.parallax {
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.a {
    background-image: url('assets/img/a.jpg');
}